<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container mt-5 bg-dark text-white text-center">
    <a class="mb-5 d-block" href="/Q3/Home">Home</a>
    <span style="font-size: 3rem;">Metadata:</span><br>
    Original title: Ignited Minds: Unleashing the Power Within India<br>
    Originally published: January 1, 2002<br>
    Author: A.P.J. Abdul Kalam<br>
    Genre: Nonfiction · India · Self Help · Indian Literature · Inspirational · Biography · Autobiography · Politics · Science · Essays
</body>
</html>