<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container mt-5 bg-dark text-white text-center">
    <a class="mb-5 d-block" href="/Q3/Home">Home</a>
    <span style="font-size: 3rem;">Publisher Info:</span><br>
    Founded: 1927<br>
    Founders: Bennett Cerf, Donald Klopfer<br>
    Headquarters: Random House Tower, 1745 Broadway · New York City, New York · U.S.<br>
    Area served: Worldwide
</body>
</html>