<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container mt-5 bg-dark text-white text-center">
    <a class="mb-5 d-block" href="/Q3/Home">Home</a>
    <span style="font-size: 3rem;">Reviews:</span><br>
    <ul class="mx-auto" style="width: 18%;">
        <li>
            Goodreads: 4/5
        </li>
        <li>
            Amazon: 4.6/5
        </li>
    </ul>
</body>
</html>